<div class="work-container">

  <div class="middle-container pt-5 pb-5">

    <div class="works pt-5">
      <div class="circle c-one"></div>

      <div class="circle c-one-two"></div>
      <div class="company-row pt-5">
        <img class="company3-image mr-3" src="{{company3}}" alt="Oracle Logo"
          (click)="navExternal('https://www.oracle.com/')">
        <p class="pt-3 pt-md-5 pl-3">Working as Senior Technical Consultant in Oracle from May 2022 – Till Date</p>
      </div>

      <div class="circle c-one-two"></div>
      <div class="company-row">
        <img class="company1-image mr-3" src="{{company2}}" alt="Hexaware Logo"
          (click)="navExternal('https://hexaware.com/')">
        <p>Worked as System Analyst in Hexaware Technologies Limited from March 2019 – May 2022</p>
      </div>

      <div class="circle c-two"></div>
      <div class="company-row pt-5">
        <img class="company2-image ml-3" src="{{company1}}" alt="FSS Logo"
          (click)="navExternal('https://www.fsstech.com/')">
        <p>Worked as Senior Software Engineer in Financial Software and Systems (P) Limited from August 2015 – March
          2019</p>
      </div>
      <div class="circle c-one"></div>
      <div class="circle c-one-two"></div>
      <div class="techSkill-row pt-5">
        <img class="techSkill-image mr-3" src="{{techIcons+'technicalSkills.png'}}" alt="Professional Summary">
        <h3>Technical Skills</h3>
        <p>
          <span><img class="icons-image" src="{{techIcons+'icons8-javascript.png'}}" alt="Javascript"> Javascript,
          </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-angular.png'}}" alt="Angular Js"> Angular Js, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-angular.png'}}" alt="Angular"> Angular, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-nodejs.svg'}}" alt="Ionic"> nodeJs, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-express.png'}}" alt="Ionic"> ExpressJs, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-typescript.png'}}" alt="Typescript"> Typescript,
          </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-html-5.png'}}" alt="HTML"> HTML 5, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-css3.png'}}" alt="CSS"> CSS 3, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-bootstrap.png'}}" alt="Bootstrap"> Bootstrap, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-ionic.png'}}" alt="Ionic"> Ionic, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-agGrid.png'}}" alt="ag-grid"> ag-Grid, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-chart-64.png'}}" alt="High Charts"> High Charts,
          </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-gulp.png'}}" alt="Gulp"> Gulp </span>
        </p>
      </div>
      <div class="circle c-two"></div>
      <div class="techSkill-row pt-5">
        <img class="techSkill-image1 mr-3" src="{{techIcons+'buildDeploy.png'}}" alt="Professional Summary">
        <h3>Deployment or Build Tools</h3>
        <p>
          <!-- <span><img class="icons-image" src="{{techIcons+'icons8-jenkints.png'}}" alt="Jenkins"> Jenkins, </span> -->
          <span><img class="icons-image" src="{{techIcons+'icons8-bitbucket.png'}}" alt="Bitbucket"> Bitbucket, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-android-os-48.png'}}" alt="Android Studio"> Android
            Studio, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-xcode-48.png'}}" alt="XCode"> xCode </span>
        </p>
      </div>
      <div class="circle c-one"></div>
      <div class="circle c-one-two"></div>
      <div class="techSkill-row pt-5 pb-5">
        <img class="techSkill-image2 mr-3" src="{{techIcons+'versionControl.png'}}" alt="Professional Summary">
        <h3>Version Control Tools</h3>
        <p>
          <span><img class="icons-image" src="{{techIcons+'icons8-git.png'}}" alt="Git"> Git, </span>
          <span><img class="icons-image" src="{{techIcons+'icons8-tortoiseSVN.png'}}" alt="Tortoise Svn"> Tortoise
            Svn</span>
        </p>
      </div>
      <div class="circle c-one"></div>
      <div class="circle c-one-two"></div>
      <div class="work-row pb-5">
        <img class="work2-image" src="{{work2}}" alt="Achievements">
        <h3>Achievements</h3>
        <div>
          <p>1. Received Customer Delight Award for delivering project in critical time lines</p>
          <p>2. Received Kudos for spot issue fixes in production environment</p>
          <p>3. Received multiple appreciations from client for successfull delivery of projects.</p>
        </div>
      </div>
      <div class="circle c-one"></div>
      <div class="circle c-one-two"></div>
      <div class="work-row pb-5">
        <img class="work3-image" src="{{certificationImg}}" alt="Certifications">
        <h3>Certifications</h3>
        <div>
          <p>1. Completed Hexaware Champions Program for updating with the latest skills and technologies.</p>
          <p>2. Certified <span><a href="{{oraCertAiLink}}" target="_blank">Oracle Cloud Infrastructure 2023 AI Certified Foundations Associate.</a></span></p>
        </div>
      </div>
    </div>
    <hr>
    <!-- <div class="circle c-one-two"></div>
    <div class="circle c-three"></div> -->
    <div class="contact-me">
      <div class="circle c-one"></div>
      <h3>To Know more about me</h3>
      <p>Download the
        <a class="btn" href="javascript:void(0)" (click)="downloadResume()"><i class="fas fa-arrow-circle-down"></i>
          Resume/CV</a>
      </p>
    </div>
  </div>
</div>